:root {
    --yasil: #54d154;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    color: #fff;
    text-align: center;
    background: url('../img/headerbg.jpg') center/cover;
}

#menu li a {
    font: 1em "Proxima Nova", bold;
    color: #fff;
    padding: 30px 5px;

}

#search {
    display: flex;
    justify-content: center;

}

#search input,
#search button {
    background: #ffffffcc;
    height: 27px;
    padding: 6px 15px;
}

#search input {
    border-radius: 15px 0 0 15px;
}

#search button {
    border-radius: 0 15px 15px 0;
}

#search button img {
    height: 14px;
}

#title h1 {
    font: 2em "Montserrat";
    font-weight: 700;
    color: #ffffff;
    padding: 9px;
}

#scroll {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    width: 120px;
    height: 30px;
    border-radius: 15px 15px;
    color: black;
    background-color: #c4c1c2;
    opacity: 70%;
}

#title a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 210px;
    height: 48px;
    background-color: var(--yasil);
    font: 1.3em 'Proxima Nova';
    text-transform: uppercase;
}

main section {
    padding: 60px 0;
    text-align: center;

}

#block1 {
    padding: 44px;

}

#block1 article {
    padding: 22px 15px;
}

#block1 article i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    font-size: 4.3em;
    border-radius: 28px;
    background: #e0f3e0;
    color: var(--yasil);

}

#block1 p {
    font: 1em "Montserrat";
    color: #828181;
    padding: 0 0 20px 0;
}

#block1 a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    border-radius: 16px;
    background-color: var(--yasil);
    font: 1.1em 'Proxima Nova';
    color: #fff
}

hr {
    width: 43px;
    height: 2px;
    background-color: #207b20;
    margin: 10px auto;
}

h1 {
    font: 700 2em Montserrat;
    text-align: center;
}

h3 {
    font: 24px "Proxima Nova" bold;
    color: #828181;
    padding: 20px;
}

h2 {
    font: 300 1.2em Montserrat;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #207b20;
}

h6 {
    font: 300 1em 'Open Sans';
    color: #2b9b2b;
}

#btn1 {
    display: flex;
    justify-content: center;
    padding: 50px 0;

}

#btn1 button {
    height: 33px;
    border: 1px solid #2b9b2b;
    font-size: 1em 'Proxima Nova';
    padding: 7px 20px
}

#gallery {
    width: 100%;
    margin: 5px 0;
}

#sectmain a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 40px;
    margin: 20px;
    border-radius: 15px 15px;
    color: #fff;
    font: .9em "Proxima Nova";
    background-color: #2b9b2b;
}

#sectmain1 p {
    font: 1em "Proxima Nova";
    color: #444;
    display: inline-flex;
    justify-content: space-between;
    padding: 20px;

}

#sectmain1 .coment img {
    width: 60x;
    height: 60px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #c4c1c2;

}

#sectmain1 .coment {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.text2 {
    padding: 5px;
}


#sectmain1 .coment h6 {
    text-align: left;
    font: 1em "Proxima Nova", bold;
    color: #cccccc;
    margin-bottom: 3px;
}

#sectmain1 #ceo {
    font: 1em "Proxima Nova", bold;
    padding: 0 0;
    color: #cccccc;


}

#sectmain1 .sectmain1top {
    display: inline-flex;
    align-items: center;
    margin: 15px;
    justify-content: center;
}

#sectmain1 .sectmain1top #button1,
#button2 {
    border: none;
    background: transparent;
}

#sectmain2 .card1 hr {
    display: inline-block;
    border: 2px solid #1f7b1f;
    width: 0;
    height: 77px;

}

#sectmain2 .card1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    flex-wrap: wrap-reverse;
}


#sectmain2 .card1 img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    background: #fff;
}

#sectmain2 .card1 h6 {
    font: 1em "Proxima Nova";
    color: #fff;

}

#sectmain2 .card1 .social {
    background: #c5e9c5;
    border-radius: 10px 10px;
    margin: 8px 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#sectmain2 .card1 .social img {
    margin: 5px;
    width: 20px;
    display: inline-flex;
    height: 20px;
    object-fit: cover;
    padding: 0;
}


#btn1 button:first-child {
    border-radius: 17px 0 0 17px;
}

#btn1 button:last-child {
    border-radius: 0 17px 17px 0;
}

#btn1 button:hover,
#btn1 button.active {
    background: #2b9b2b;
    color: #fff;
}

.bgyasil {
    background-color: var(--yasil)
}

.bgag {
    background-color: #fff
}

.bgboz {
    background-color: #f1f1f1
}

.bgag hr,
.bgboz hr {
    background-color: #818181
}

.bgag h2,
.bgboz h2 {
    color: #818181
}

.bgag h6,
.bgboz h6 {
    color: #b3b3b3
}

#company {
    padding: 37px;
    display: inline-flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

#company img {
    object-fit: contain;
    width: 150px;
    height: 55px;
    margin: 15px 15px;
}

.bgboz #see {
    font: 18px "Proxima Nova";
    color: #a59d9d;
    background: #dddcdc;
}

.bgboz #see:hover {
    background: #2b9b2b;
    color: #fff;
}

.person{
    margin: 15px 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.person hr{
    width: 2px;
    height: 80px;
}
.person .icon{
    width: 85px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
    background: #c5e9c5;
    border-radius: 10px 10px;
}
.person .icon img{
    width: 20px;
    height: 20px;
    margin: 2px;
}
.person h6{
    font: 1em "Proxima Nova";
    color: #fff;

}
.person img{
    border-radius: 50%;
    background: #fff;
    width: 120px;
    height: 120px;
    object-fit: cover;
}
footer{
    background: #333333;
  
}
 .mainbottom{
    margin: auto;
    width: 100%;
    height: 90px;
    display: inline-flex;
    background: #3eba3e;
    align-items: center;
    justify-content: center;
}
.mainbottom a{
    display: inline-flex;
    width: 180px;
    height: 50px;
    background: #53d153;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px;
    font: 19px  "Proxima Nova";
    color: #fff;
    transition: .2s ease-in;
}
.mainbottom a:hover{
    background: #fff;
    color: black;

} 
.mediaicon {
    text-align: center;
    background-color: #c5e9c5;
    padding-top: 5px;
    width: 80px;
    height: 25px;
    border-radius: 10px;
    margin: auto;
  }
  .mediaicon i {
    padding: 0 1px;
  }
  .mediaicon i:first-child {
    color: red;
  }
  .mediaicon i:nth-child(2) {
    color: blue;
  }
  .mediaicon i:nth-child(3) {
    color: #00abed;
  }
  
  .mediaicon i {
    border-radius: 50%;
  }
  .scroll4 {
    background-color: #3eba3e;
    width: 100%;
    height: 100px;
    position: relative;
    top: 60px;
  }
  .scroll4 button {
    position: absolute;
    background-color: #53d153;
    color: #fff;
    text-transform: uppercase;
    bottom: 30px;
  }

  .all {
    padding: 30px 0;
    background-color: #333;
   
  }
  .about,
  .recent,
  .contact {
    padding: 20px 0;
  }
  .all hr {
    background-color: #ddd;
  }
  .all .medias {
    background-color: #fff;
    margin: auto;
  }
  .about h4{
    text-align: center;
    font: 1em "Montserrat";
    letter-spacing: 3px;
    color: #dddddd;
  }
  .about p {
    font-size: 16px;
    color: #ccc;
    font-family: "Proxima Nova";
    margin: auto;
    line-height: 20px;
  }
  .magazins {
    margin-top: 20px;
  }
 
  .recent img {
    width: 50px;
    height: 50px;
  }
  
  .recent .magazins {
    display: flex;
  }
  .recent h4{
    text-align: center;
    font: 1em "Montserrat";
    letter-spacing: 3px;
    color: #dddddd;}
  .magazins .text {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    font-size: 16px;
    color: #cccccc;
    font-weight: 300;
    font-family: "Montserrat";
    margin-left: 5px;
  }
  .magazins a:first-child {
    text-transform: capitalize;
    color: #ffffff;
  }
  .magazins a:last-child {
    background-color: #53d153;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
  }
  .card1 a:last-child {
    background-color: #ffba00;
    color: #ffffff;
  }
  .card2 a:last-child {
    background-color: #089cea;
    color: #ffffff;
  }
  .card3 a:last-child {
    background-color: #f34c03;
    color: #ffffff;
  }
  .magazins .text  a:hover{
    background: #fff;
    color: black;
 }

  .contact {
    text-align: center;
    
  }
  .contact p {
    padding: 2px;
    color: #ddd;
  }
  .contact h4{
    text-align: center;
    font: 1em "Montserrat";
    letter-spacing: 3px;
    color: #dddddd;


  }
  .contact form {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 10px;
  }
  .contact form input {
    height: 30px;
    margin-bottom: 5px;
    background-color: #ffffff;
    color: #fff;
  }
  .contact form .input1 {
  
    border-radius:  5px  5px  0  0;
    
  }
  form textarea {
    height: 130px;
    background-color: #ffffff;
    color: #fff;
  }
  form #submit {
    display: inline-block;
    height: 30px;
    background-color: #2b9b2b;
    margin-top: 2px;
    color: #fff;
    border-radius:0 0 5px  5px;
    cursor: pointer;
  }
  form #submit:hover{
    background: #fff;
    color: black;
    transition: .2s;
  }

  .news {
    background-color: #212121;
  }
  .newsblock1 h4 {
    padding: 27px 0 0 0;
    color: black;
    text-align: center;
    font: 1em "Montserrat";
  }
  .newsblock1 hr {
    background-color: black;
  }
  #newsImages {
    padding: 20px 0 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #newsImages img {
    padding: 10px 0;
  }
  
  #copyrght {
    background-color: #111;
  }
  #copyrght p {
    font: 1rem "Proxima Nova";
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
/* Desktop version */
@media only screen and (min-width: 768px) {
    nav {
        display: flex;
        justify-content: space-between;
    }
    #scroll {
        display:flex;
        align-items: center;
        justify-content: center;
        margin: 40px auto;
        width: 120px;
        height: 30px;
        border-radius: 15px 15px;
        color: black;
        background-color: #c4c1c2;
        opacity: 70%;
    }
    #menu {
        display: flex;
        order: -1;
    }

    #menu li {
        padding: 0 10px;
    }

    #menu li a {
        display: inline-block;
        padding: 5px 0;
        margin:5px;
        border-top: 5px solid #0000;
    }

    #menu li :hover,
    #menu li a.active {
        border-top: 5px solid var(--yasil)
    }

    h1 {
        font-size: 3.4em
    }

    #block1 {
        display: flex;
    }

    #gallery {
        max-width: 980px;
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    #gallery img {
        width: 160px;
        object-fit: cover;
        height: 160px;
        margin: 15px;
    }

    #sectmain1 .sectmain1top {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #sectmain1 p {
        font: 2.2em "Proxima Nova";
        color: #444;
        display: flex;
        padding: 20px;

    }

    #sectmain1 .coment img {
        width: 60x;
        height: 60px;
        border-radius: 50%;
        padding: 5px;
        border: 1px solid #c4c1c2;

    }

    #company {
        margin-top: 17px;
        display: flex;
        justify-content: space-around;
        max-width: 950px;
    }

    #company img {
        object-fit: contain;
        width: 150px;
        height: 55px;
    }

    #sectmain1 .coment {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .text2 {
        padding: 5px;
    }

    #sectmain1 .coment h6 {
        font: 1em "Proxima Nova", bold;
        color: #cccccc;
        margin-bottom: 3px;
    }

    #sectmain1 #ceo {
        font: 1em "Proxima Nova", bold;
        color: #cccccc;


    }
    .all {
        display: flex;
        justify-content: space-around;
        padding: 20px;
      }
      .about p {
        width: 260px;
        padding: 5px;
      }
      #newsblock1Images {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    
}